.pageHeader {
    margin: 10px;
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-self: center; */
}

.shop {
    /* width: 25%; */
    margin: 0 10px;
    border: 1px dotted black;
    flex-basis: 31%;
    /* display: flex; */
    flex-direction: column;
}
